<script>
var useragent = <%-JSON.stringify(useragent)%>;
var friendRequestInfo = {
	recommendUsers :<%-JSON.stringify(recommendUsers)%>,
	userInfos :<%-JSON.stringify(userInfos)%>,
	requestInfos :<%-JSON.stringify(requestInfos)%>,
	friendUids :<%-JSON.stringify(friendUids)%>,
	rejectedUids :<%-JSON.stringify(rejectedUids)%>,
	receivedUids :<%-JSON.stringify(receivedUids)%>,
	sendUids :<%-JSON.stringify(sendUids)%>
}


</script>
<div layout="column" class="relative" layout-fill role="main" ng-init="init()">
    <md-content layout="column" flex ui-view="main"></md-content>
</div>
<md-toolbar class="footer">
	<div class="md-toolbar-tools">
		<div class="md-toolbar-tools">
			<ul ng-if="banners.length" rn-carousel style="height:150px;width:100%" class="image" rn-carousel-index="carouselIndex">
				<li ng-repeat="banner in banners">
					<div class="layer" style="text-align:center">
						<img ng-src="{{banner.imageUrl}}" class="user-avatar" style="height:150px;width:150px" />
					</div>
				</li>
			</ul>
		</div>
	</div>
</md-toolbar>
<script src="/js/routes/index.js"></script>
<link rel="stylesheet" href="/css/index/index.css">
