<!doctype html>
<html lang="ja" ng-app="StarterApp">

<head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="pink" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#4285f4">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4285f4">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
    <script type="text/javascript">
        <% if ( typeof session !== 'undefined' ) { %>
            <% if ( session.token) { %>
                var session = {token : '<%= session.token.token %>'};
            <% } else {%>
                var session = {token : false};
            <% } %>
        <% } %>
        <% if ( typeof deviceCacheKey !== 'undefined' ) { %>
            var deviceCacheKey =  <%= deviceCacheKey %>;
        <% } else {%>
            <% deviceCacheKey = 0 %>
             var deviceCacheKey =  <%= deviceCacheKey %>;
        <% } %>
    </script>
    <link rel="stylesheet" href="/css/angular-material.css?v=<%= deviceCacheKey %>">
    <link rel="stylesheet" href="/css/material_icon.css?v=<%= deviceCacheKey %>">
    <link rel="stylesheet" href="/css/animate.css?v=<%= deviceCacheKey %>">
    <link rel="stylesheet" href="/css/angular-range-slider.css?v=<%= deviceCacheKey %>">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modal.css">

    <script src="/socket.io/socket.io.js?v=<%= deviceCacheKey %>"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/firebase/firebase.js?v=<%= deviceCacheKey %>"></script>
<!--     <script src="/js/libs/loadsh/lodash.min.js?v=<%= deviceCacheKey %>"></script> -->
    <script src="/js/libs/firebase/angularfire.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-route.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-ui-router.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-resource.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-animate.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-lazy-img.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-filter.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-range-slider.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-aria.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-material.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-cookies.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-translate.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-messages.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/storage-cookie.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-material-icons.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/ngStorage.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/loader-static-files.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-translate-storage-local.min.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/angular-images-resizer.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/libs/angular/ng-img-crop.js?v=<%= deviceCacheKey %>"></script>
    <script src="/js/base.js"></script>
    <script src="/js/configs/base.js"></script>
    <script src="/js/filters/base.js"></script>
    <script src="/js/models/api.js"></script>
    <script src="/js/services/base.js"></script>
    <script src="/js/services/error.js"></script>
    <script src="/js/services/modal.js"></script>
    <script src="/js/services/link.js"></script>
    <script src="/js/services/user.js"></script>
    <script src="/js/services/login.js"></script>
    <script src="/js/directives/base.js"></script>
    <script src="/js/services/fireBase.js"></script>
    <script src="/js/services/loading.js"></script>
    <script src="/js/controllers/base.js"></script>




</head>

<body layout="row" ng-controller="AppCtrl" ng-cloak>

     <span ng-include="'/templates/sidenav.html?v=<%= deviceCacheKey %>'" include-replace></span>
     <%- body %>
    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.16.0'><\/script>".replace("HOST", location.hostname));
    //]]></script>
     <span id="bottom"></span>
</body>

</html>
